Projects
-Created by "admin"
-"Admin" adds other users to Projects



2.Users
    2.1.Admin
     - Create project
     - Assign user to project
     - ......
    
    2.2 User
     - Create agenda for today  (only if there is not been created already for today)
     - View agenda history for his project (all users records)
     - View agenda for today for his project (all users records)
     - View agenda history for his project (only his records)

FIX:
-Figure out how to filter the navigation based ot logged user
-move bootstrap cdn/js to layout page
-think about security - CMON DUDE... ATLEAST HASH THE PASSWORDS

